
.pellet-node {
    background: yellow;
    border-radius: 50%;
}

#board {
    margin: 0 auto;
    width: 800px;
    height: 800px;
    background: black;
}

.snake-node {
    background: green;
    border-radius: 50%;
}

#game-over {
    color: red;
    font-weight: bold;
    font-size: 3rem;
    position: relative;
}

.score {
    color: red;
    font-size: 2rem;
}