
.pellet-node {
    background: yellow;
    border-radius: 50%;
}

#board {
    margin: 0 auto;
    width: 800px;
    height: 800px;
    background: black;
}

.snake-node {
    background: green;
    border-radius: 50%;
}